<section class="exchanger">
  <div class="exchanger__container container">
    <div class="exchanger-body">
      <div class="exchanger-header">
        Compra y venta de <span class="exchanger-header__hl">Criptomonedas</span>
      </div>
      <div class="exchanger-inner">
        <div class="exchanger-cols exchanger-inner__item">
          <div class="exchanger-cols__box">
            <div class="exchanger-cols__box-header">
              Envíe
            </div>
            <div class="exchanger-cols__field">
              <input type="number" class="exchanger-cols__input" value="7900">
              <div class="exchanger-cols__currency">
                <div class="exchanger-cols__currency-value">
                  <img src="../../img/sprite/usdt-icon.svg" alt="currency-icon">
                </div>
                <div class="exchanger-cols__currency-name">USDT</div>
              </div>
            </div>
          </div>
          <button class="exchanger-switch cryptocurrency_form__switch_btn rotation0">
            <img src="../../img/sprite/switch-icon.svg" alt="switch-icon">
          </button>
          <div class="exchanger-cols__box">
            <div class="exchanger-cols__box-header">
              Reciba
            </div>
            <div class="exchanger-cols__field">
              <input type="number" class="exchanger-cols__input" value="7750.50">
              <div class="exchanger-cols__currency">
                <div class="exchanger-cols__currency-value">
                  <img src="../../img/sprite/usdt-icon.svg" alt="currency-icon">
                </div>
                <div class="exchanger-cols__currency-name">USDT</div>
              </div>
            </div>
          </div>
        </div>
        <div class="exchanger-flex exchanger-inner__item">
          <div class="exchanger-flex__header exchanger-header">
            Comisión:
          </div>
          <div class="exchanger-flex__block">
            <div class="exchanger-flex__col">
              <div class="exchanger-flex__box">
                Si el monto es $5000
                <div class="exchanger-flex__hl">
                  5%
                </div>
              </div>
            </div>
            <div class="exchanger-flex__col">
              <div class="exchanger-flex__box">
                Si el monto es $5000
                <div class="exchanger-flex__hl">
                  3%
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="exchanger-button button">
          <span class="button-text">
            Dejar una solicitud
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
