<section class="home">
  <div class="home-image home-image--left">
    <img src="../../img/home/home-image-right.webp" alt="home-image">
  </div>
  <div class="home-image home-image--right">
    <img src="../../img/home/home-image-left.webp" alt="home-image">
  </div>
  <div class="home__container container">
    <div class="home-body">
      <div class="home-content">
        <div class="home-content__image">
          <img src="../../img/home/home-general-image.webp" alt="home-general-image">
        </div>
        <h1 class="home-heading global-heading">
          <span class="home-heading__hl global-heading--gradient">¿Para qué <br class="home-divider"> necesita dinero?</span>
          ¡Para gastarlo!
        </h1>
        <p class="home-descr">
          ¡Cambie pesos por dólares y compre/venda USDT de manera fácil y segura con nosotros en Los Ángeles y Miami!
        </p>
        <a href="#" target="_blank" class="home-button button button--dark">
          <svg class="button-icon">
            <use href='img/sprite/sprite.svg#tg-icon'></use>
          </svg>
          <span class="button-text">Contáctese con nosotros en Telegram</span>
        </a>
      </div>
    </div>
  </div>
</section>
