<section class="license">
  <div class="license-image license-image--left">
    <img src="../../img/license/license-image-left.webp" alt="license-image">
  </div>
  <div class="license-image license-image--right">
    <img src="../../img/license/license-image-right.webp" alt="license-image">
  </div>
  <div class="license__container container">
    <div class="license-content">
      <h5 class="license-heading global-heading global-heading--gradient">
        Nuestra licencia para realizar operaciones de divisas
      </h5>
      <button class="license-view button">
        <span class="button-text">
          Ver
        </span>
      </button>
    </div>
  </div>
</section>
