<section class="contact">
  <div class="contact-absolute">
    <img src="../img/contact/contact-bag-image.webp" alt="contact-image">
  </div>
  <div class="contact__container container">
    <div class="contact-body">
      <div class="contact-col contact-col--flex">
        <h6 class="contact-title global-heading global-heading--gradient">
          Contáctenos y nos pondremos en contacto con usted
        </h6>
        <div class="contact-inner">
          <a href="#" target="_blank" class="contact-button button button--dark">
            <svg class="button-icon">
              <use href='img/sprite/sprite.svg#tg-icon'></use>
            </svg>
            <span class="button-text">Contáctenos en Telegram</span>
          </a>
          <span class="contact-divider"></span>
          <form class="contacts_container_form">
            <input type="text" class="contacts_container_input name-input" placeholder="Как к вам обращаться?">
            <div class="contacts-input-container" id="contact-city-select-box">
              <div class="select modal-form-city-input">
                <div class="selectBtn placeholder-text" id="contact-city-default-input" data-type="questionOption">
                  В каком городе вы находитесь?
                </div>
                <div class="selectDropdown">
                  <div class="option contacts-input skip" data-type="LAOption">
                    Лос-Анджелес
                  </div>
                  <div class="option contacts-input skip" data-type="MiamiOption">
                    Майами
                  </div>
                  <div class="option contacts-input contact-hidden-city-option skip" id="modalOtherOption1" data-type="otherOption">
                    Другой
                  </div>
                </div>
              </div>
            </div>
            <input type="text" class="contact-form-hidden-city-input contacts_container_input name-input hidden" placeholder="Введите ваш город">
            <div class="contacts-input-container" id="contact-way-select-box">
              <div style="width: 100% !important ; height: 100% !important" class="select modal-form-contact-input">
                <div class="selectBtn placeholder-text" data-type="firstOption" style="width: 100% !important ; height: 100% !important" id="contact-way-default-input">
                  Как с вами связаться?
                </div>
                <div class="selectDropdown">
                  <div class="option contacts-input contact-option-form contact-tg-option optionn" data-type="firstOption">
                    <img src="./assets/images/telegram_icon.png " class="option-img" alt="">
                    Telegram
                  </div>
                  <div class="option contacts-input contact-option-form xx numberOnly optionn" data-type="secondOption">
                    <img src="./assets/images/whatsapp_icon.png" class="option-img" alt="">WhatsUp
                  </div>
                  <div class="option contacts-input contact-option-form numberOnly optionn" data-type="thirdOption">
                    <img src="./assets/images/sms_icon.png" class="option-img" alt="">IMessage
                  </div>
                  <div class="option contacts-input contact-option-form numberOnly optionn" data-type="fourOption">
                    <img src="./assets/images/phone_icon.png" class="option-img" alt="">Звонок по телефону
                  </div>
                  <div class="option contacts-input contact-option-form numberOnly optionn" data-type="fiveOption">
                    <img src="./assets/images/mail_icon.png" class="option-img" alt="">SMS
                  </div>
                </div>
              </div>
            </div>
            <input type="text" class="contact-form-hidden-number-input contacts_container_input name-input hidden phone-mask" id="contact-way-spec-input" placeholder="Введите ваш телефон">
            <textarea class="contacts_container_input comment-input" placeholder="Комментарий"></textarea>
            <button class="contacts_container-btn pulse-animation">
              Отправить
            </button>
          </form>
        </div>
      </div>
      <div class="contact-col">
        <div class="contact-image">
          <img src="../img/contact/contact-image.webp" alt="contact-image">
        </div>
      </div>
    </div>
  </div>
</section>
