<footer class="footer" style="background-image: url('../../img/footer/footer-overlay.svg');">
  <div class="footer__container container">
    <div class="footer-body">
      <a href="/" class="footer-logo">
        <img src="../../img/logos/gold-logo.svg" alt="footer-logo">
      </a>
      <ul class="footer-socials">
        <li class="footer-socials__item">
          <a href="#" target="_blank" class="footer-socials__link">
            <img src="../img/sprite/instagram.svg" alt="social-icon">
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#" target="_blank" class="footer-socials__link">
            <img src="../img/sprite/footer-tg-icon.svg" alt="tg-icon">
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#" target="_blank" class="footer-socials__link">
            <img src="../img/sprite/whatsapp.svg" alt="social-icon">
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#" target="_blank" class="footer-socials__link">
            <img src="../img/sprite/print-icon.svg" alt="social-icon">
          </a>
        </li>
      </ul>
      <div class="footer-rights">
        ©2023 Plata Bolivar
      </div>
    </div>
  </div>
</footer>
