<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <div class="header-flex">
        <a href="/" class="header-logo">
          <img src="../img/logos/gold-logo.svg" alt="logo">
        </a>
        <div class="header-fixed">
          <button class="header-button button button--flex">
            <svg class="button-icon">
              <use href='img/sprite/sprite.svg#tg-icon'></use>
            </svg>
            <span class="button-text">Contáctenos en Telegram</span>
          </button>
        <div class="header-lang">
          <div class="header-lang__selected">
            <span class="header-lang__selected-text">ES</span>
            <span class="header-lang__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_1646_3760)">
                <path d="M12.0007 13.1722L16.9507 8.22217L18.3647 9.63617L12.0007 16.0002L5.63672 9.63617L7.05072 8.22217L12.0007 13.1722Z" fill="#A49C8C"/>
                </g>
                <defs>
                <clipPath id="clip0_1646_3760">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </span>
          </div>
          <div class="header-lang__hidden">
            <ul class="header-lang__list">
              <li class="header-lang__list-item">
                <a href="index.html" class="header-lang__list-link header-lang__list-link--active">
                  ES
                </a>
              </li>
              <li class="header-lang__list-item">
                <a href="index-en.html" class="header-lang__list-link">
                  EN
                </a>
              </li>
            </ul>
          </div>
        </div>
        </div>
        <div class="header-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
