.contact {
  background: linear-gradient(180deg, #0C0B0A 0%, #1E1915 100%);

  position: relative;

  overflow: hidden;

  margin-bottom: clamp(50px, 5vw, 80px);

  &__container {
    --container-width: 1280px;
  }
  &-absolute {
    position: absolute;

    max-width: clamp(300px, 21.75vw, 348px);

    right: -18px;
    top: 0;

    img {
      display: block;
    }
  }
  &::before {
    @include pseudo;

    background: linear-gradient(180deg, #0C0B0A 0%, rgba(12, 11, 10, 0.00) 100%);

    top: 0;
    right: 0;

    height: 110px;
    width: 100%;

    pointer-events: none;

    z-index: 1;
  }
  &::after {
    @include pseudo;

    width: 100%;
    height: 110px;

    bottom: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(12, 11, 10, 0.00) 0%, #0C0B0A 100%);

    pointer-events: none;
  }
  &__container {
    min-height: 1000px;
    @include dfc;
  }
  &-body {
    display: grid;
    grid-template-columns: .76fr 1fr;
    grid-gap: clamp(32px, 4.75vw, 76px);
  }
  &-image {
    align-self: flex-end;
    overflow: hidden;
    border-radius: 4px;
    img {
      pointer-events: none;
      display: block;
    }
  }
  &-inner {
    max-width: 480px;

    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
  &-button {
    width: fit-content;

    padding: 14px 24px;
  }
  &-title {
    @include gradient(180deg);
    text-align: left;
  }
  &-col {
    &--flex {
      display: flex;
      flex-direction: column;
      grid-gap: 40px;
    }
    &:nth-child(2) {
      align-self: flex-end;
    }
  }
  &-button {
    position: relative;
  }
  &-divider {
    display: block;
    width: 100%;
    height: 1px;
    bottom: -20px;
    background-color: rgba(var(--cl-y), .1);
  }
}

@include tablet {
  .contact {
    padding: clamp(70px, 6.875vw, 110px) 0;
    &-body {
      grid-template-columns: 100%;
    }
    &-inner {
      max-width: 100%;
    }
    &-absolute {
      max-width: 200px;
      right: 60px;
      bottom: 300px;
      top: initial;
      z-index: 1;
    }
    &-button {
      align-self: center;
    }
    &-image {
      max-width: 600px;
      margin: 0 auto;
      @include dfc;
    }
  }
}

@include mobile {
  .contact {
    &__container {
      min-height: auto;
    }
    &-absolute {
      right: 0;
      bottom: 200px;
      max-width: 140px;
    }
  }
}

.contacts_container_header {
  width: 100vw;
  height: 35vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5%;
}

.mobile-money-man-img-box {
  display: none;
}

.contacts_container_title-box {
  display: flex;
  justify-content: space-between;
}

.contacts_container-title {
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
}

.contacts_container-title-text {
  font-weight: 600;
  font-size: 3.5vw;
  line-height: 110%;
  letter-spacing: -0.02em;
  background: linear-gradient(
    180deg,
    #e4bc6d 0%,
    rgba(228, 188, 109, 0.22) 250%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.contacts_container_title-img-box {
  width: 20vw;
  height: 34vh;
  position: absolute;
  right: 0;
  margin-top: -6%;
  z-index: 1;
}

.contacts_container_title-img-box img {
  width: 100%;
  height: 100%;
}

.contacts_container_form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding-top: 1.5%;
}

.contacts_container_input {
  width: 100%;
  min-height: 60px;
  border: 1px solid #a49c8c;
  border-radius: 20px;
  color: #ffffff;
}
.border-pulse {
  border-color: red !important;
  transition-duration: 1.5s;
}
.contacts-input-container {
  width: 100%;
  min-height: 60px;
  border-radius: 20px;
}

.city-select-margin {
  margin-bottom: 16.6vh;
  transition-duration: 0.3s;
}

.contact-way-margin {
  margin-bottom: 27.5vh;
  transition-duration: 0.3s;
}

.contacts_container_input::placeholder {
  color: #a49c8c;
}

textarea::placeholder {
  color: #a49c8c;
}

input.contact-hidden-city-option::placeholder {
  color: #a49c8c !important;
}

.name-input {
  width: 100%;
  padding-left: 5%;
}

.comment-input {
  width: 100%;
  min-height: 136px;
  resize: none;
  background: none;
  padding: 16px 26px;
}


.contacts-map-mobile {
  display: none;
  overflow: inherit;
}
.la-scale {
  transform: scale(2);
  transform-origin: 0% 50%;
  transition-duration: 1s;
}

.mi-scale {
  transform: scale(2);
  transform-origin: 105% 100%;
  transition-duration: 1s;
}

.la-scale-mobile {
  transform: scale(1.5);
  transform-origin: -1% 59%;
  transition-duration: 1s;
}

.mi-scale-mobile {
  transform: scale(1.9);
  transform-origin: 96% 116%;
  transition-duration: 1s;
}
