.form {
  &-accept {
    width: 100%;
  }
}

.fieldsets {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;

  margin-bottom: 1rem;

  &__item {

  }
  &__input {
    background-color: transparent;
    padding: 1.125rem 1.625rem;
    color: rgba(var(--cl-d-2), .8);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--ff);

    border: 1px solid rgba(var(--cl-d-2), 1);
    border-radius: 20px;
    width: 100%;
    &::placeholder {
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
  }
}
