.header {
  padding: clamp(24px, 2.25vw, 36px) 0;

  position: absolute;

  z-index: 6;

  width: 100%;

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-button {
    transition: all 300ms ease !important;
  }
  &-lang {
    position: relative;
    &__selected {
      padding: 1rem 14px 1rem 22px;
      border: 1px solid rgba(var(--cl-y), 1);
      background-color: rgba(var(--cl-d-1), 1);
      border-radius: 60px;
      display: flex;
      align-items: center;
      grid-gap: 6px;
      cursor: pointer;

      &-text {
        font-size: var(--t-base);
        font-weight: 600;
        color: rgba(var(--cl-w), 1);
      }
    }
    &__arrow {
      width: 1.5rem;
      height: 1.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: transform 300ms ease;
    }
    &__hidden {
      position: absolute;

      top: 100%;
      left: 0;
      width: 100%;

      padding-top: 1rem;

      transition: all 400ms ease;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: scale(.95);
    }
    &__list {
      padding: 12px;
      border: 1px solid rgba(var(--cl-y), 1);
      background-color: rgba(var(--cl-d-1), 1);
      border-radius: 28px;
      display: flex;
      flex-direction: column;
      grid-gap: 8px;
      &-item {
        &:not(:last-child) {
          a {
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(var(--cl-y), .1);
          }
        }
      }
      &-link {
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: var(--t-base);
        font-weight: 600;
        color: rgba(var(--cl-w), 1);

        @include hover {
          text-decoration: underline;
        }

        &--active {
          color: rgba(var(--cl-y), 1);
        }
      }
    }
    &:hover {
      .header-lang__hidden {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      .header-lang__arrow {
        transform: scaleY(-1);
      }
    }
  }
  &-burger {
    display: none;
    flex-direction: column;
    grid-gap: 7px;
    cursor: pointer;
    span {
      @include gradient(180deg);

      width: 1.5rem;
      height: 1px;
    }
  }
  &-fixed {
    position: fixed;

    top: clamp(24px, 2.25vw, 36px);
    right: clamp(1.5rem, 2vw, 2rem);

    z-index: 50;

    display: flex;
    align-items: center;
    grid-gap: 1rem;
  }
  &-logo {
    max-width: 140px;
    display: block;
    width: 100%;

    transition: filter 300ms ease;

    img {
      display: block;
    }
    @include hover {
      filter: drop-shadow(0 0 .5rem rgba(var(--cl-y), .8)) brightness(120%);
    }
  }
}

@include small-tablet {
  .header {
    top: 1.625rem;
    &-burger {
      display: flex;

      position: absolute;

      right: 0;
      top: -30px;
    }
    &-fixed {
      grid-gap: .5rem;
    }
    &-lang {
      &--desktop {
        display: none;
      }
      &__hidden {
        z-index: 5;
      }
    }
    &-button {
      padding: 1rem;
      grid-gap: 8px;
      span {
        font-size: 15px;
      }
    }
    &-logo {
      max-width: 120px;
    }
    &-flex {
      position: relative;
      justify-content: center;
    }
    &-fixed {
      top: initial;

      width: max-content;

      padding: 1rem 2rem;

      bottom: 1.25rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
